<!DOCTYPE html>
<html>
<head>
  <title>BeerRatingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">
<%= yield %>
</div>

</body>
 <script src="https://use.typekit.net/cay0isj.js"></script>
 <script>try{Typekit.load({ async: true });}catch(e){}</script>
</html>
